{% extends 'base.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
      <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-newspaper-o"></i> RSS News</a>
          </div>
          <div class="navbar-right">
            <div class="navbar-text"><button class="btn btn-default btn-xs">Log in</button></div>
            <div class="navbar-text"><button class="btn btn-default btn-xs">Log up</button></div>
          </div>
        </div><!--/.container-fluid -->
      </nav>
    <div class="container">
        <div class="row">
          <div class="col-xs-0 col-md-3"></div>
          <div class="col-xs-0 col-md-6">
              {% for post in posts %}
                <div class="post-block">
                    <div class="container-fluid">
                    <div class="row">
                    <div class="col-xs-12">
                      <h3>{{ post.title }}</h3>
                      <br>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-12">
                      <p>{{ post.text }}</p>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-xs-12 text-right">
                      <button class="btn bnt-sm btn-default">Read</button>
                      <button class="btn bnt-sm btn-default">Add Favorite</button>
                    </div>
                    </div>
                    <br>
                    <br>
                    </div>
                </div>
              {% endfor %}
          </div>
          <br>
          <div class="col-xs-0 col-md-3"></div>
      </div>

    </div>

{% endblock %}